@font-face {
    font-family: fz;
    src: url("./font/by_aqqxs.woff2") format("woff2"),
    url("./font/by_slate.woff2") format("woff2");
}

:root {
    font-family: fz, Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    font-family: fz, Inter, Avenir, Helvetica, Arial, sans-serif;
}

/*a {*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/

/*a {*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/

body {
    margin: 0;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
}

/*h1 {*/
/*  font-size: 3.2em;*/
/*  line-height: 1.1;*/
/*}*/

/*button {*/
/*  border-radius: 8px;*/
/*  border: 1px solid transparent;*/
/*  padding: 0.6em 1.2em;*/
/*  font-size: 1em;*/
/*  font-weight: 500;*/
/*  font-family: inherit;*/
/*  background-color: #1a1a1a;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

#app {
    width: 100vw;
    margin: 0 auto;
    background-image: url("https://img.astralcyber.top/i/2023/08/19/64e03680574aa.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#sakana-widget {
    width: 120px;
    position: fixed;
    bottom: 0px;
    right: -4px;
}

@media screen and (max-width: 950px) {
    .side {
        display: none;
    }
    .introCard{
        -webkit-line-clamp: 2;
    }
}

@media screen and (min-width: 951px) {
    .introCard{
        -webkit-line-clamp: 4;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

#personCard {
    box-shadow: 0 1px 20px -6px rgb(0 0 0 / 50%);
    border-radius: 10px !important;
    --el-card-padding: 0px !important;
    margin: 15px;
    width: 20vw;
    height: max-content;
    text-align: center;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

#personCard:hover {
    box-shadow: 0 5px 10px 5px rgb(110 110 110 / 40%) !important;
    border-color: rgba(255 255 255 / 100%) !important;
}

.introCard{
    color: #777777;
    width:99%;
    display:block;
    padding: 2px 0px 0px 5px;
    white-space:pre-wrap;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#photo {
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}

.el-tabs__item {
    padding: 0px !important;
    margin-left: 20px !important;
}

.back {
    cursor: pointer;
    font-weight: bolder;
    color: #E57B89;
    font-size: larger;
    transition: color 0.25s ease;
}

.back:hover {
    color: #f59ca7;
}

.el-dialog__body {
    padding: 0px 20px 20px  20px !important;
}

.el-tabs__nav-prev {
    top: 6px;
}

.el-tabs__nav-prev > .el-icon{
    transform: scale(1.1,1.1);
    color: #303133;
}

.el-tabs__nav-next {
    top: 6px;
}

.el-tabs__nav-next > .el-icon{
    transform: scale(1.1,1.1);
    color: #303133;
}

.changePassword > .el-dialog__body{
    padding: 20px !important;
}